/* Réinitialisation des styles de base du navigateur */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style pour l'en-tête */
header {
    background-color: #084005;
    color: #fff; /* Couleur du texte dans l'en-tête */
    padding: 20px 0; /* Espacement interne haut/bas de l'en-tête */
}

/* Style pour la partie en haut à droite */
.top-right {
    text-align: right; /* Aligner le contenu à droite */
}

.top-right button {
    margin-left: 10px; /* Espacement entre les boutons */
}

/* Style pour le menu centré */
.centered-menu {
    text-align: center; /* Aligner le contenu au centre */
}

.centered-menu ul {
    list-style-type: none; /* Supprimer les puces de la liste */
}

.centered-menu li {
    display: inline-block; /* Afficher les éléments de la liste en ligne */
    margin-right: 20px; /* Espacement entre les éléments du menu */
}

.centered-menu a {
    text-decoration: none; /* Supprimer la décoration du lien */
    color: #fff; /* Couleur du texte du lien */
    font-weight: bold; /* Texte en gras */
    font-size: 18px; /* Taille de police du texte du lien */
}






.carousel__face:nth-child(1) {
    background-image: url('/images/mouton18.jpg');
    transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
    background-image: url('/images/mouton4.jpg');
    transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
    background-image: url('/images/mouton8.jpg');
    transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
    background-image: url('/images/bali5.jfif');
    transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
    background-image: url('/images/mouton14.jpg');
    transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
    background-image: url('/images/mouton9.jpg');
    transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
    background-image: url('/images/mouton11.jpg');
    transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
    background-image: url('/images/mouton7.jpg');
    transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
    background-image: url('/images/mouton16.jpg');
    transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

.containere {
    position: relative;
    width: 320px;
    margin: 50px auto 0 auto;
    perspective: 1000px;
  }

  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    border-radius: 10px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.1);
    display: flex;
  }

  span {
    margin: auto;
    font-size: 2rem;
  }


.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: green;
    color: white;
}

  .scrolling-text h2 {
    animation: scroll 15s linear infinite;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    padding: 0px;
    position: sticky;
    z-index: 3;
    top: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.toppeach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 420px;
  }
  .toppeachtwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .peach {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: hsl(342, 100%, 54%);
  }
  .sweet {
    font-family: 'Asap', sans-serif;
    font-size: 25px;
    color: #ED8D8D;
  }

  .gallery {
    display: flex;
  }
  .gallery {
    width: 100%;
  }
  .item {
    height: 25vh;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    flex: 5;
    margin: 5px;
    /* position: relative; */

    animation: scroll 3s linear infinite;
    position: sticky;
    display: flex;
    justify-content: center;

  }


  .selected h4 {
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0s ease-in;
  }

  .selected .price {
    font-size: 15px;
    transition: all 0s ease-in;
  }

  .one {
    background-image: url('/images/mouton18.jpg');
  }
  .two {
    background-image: url('/images/mouton4.jpg');
  }
  .three {
    background-image: url('/images/mouton8.jpg');
  }
  .four {
    background-image: url('/images/mouton10.jpg');
  }
  .five {
    background-image: url('/images/mouton14.jpg');
  }
  .six {
    background-image: url('/images/mouton9.jpg');
  }

  .seven {
    background-image: url('/images/mouton16.jpg');
  }
  .heithe {
    background-image: url('/images/mouton7.jpg');
  }
  .ninght {
    background-image: url('/images/mouton9.jpg');
  }
  .ten {
    background-image: url('/images/mouton4.jpg');
  }
  .onze {
    background-image: url('/images/mouton11.jpg');
  }
  .douze {
    background-image: url('/images/mouton7.jpg');
  }
.footere {
    background-color: black;
}
